# SPEI Mock Simulator

## Variables de Entorno

```env
NEXT_PUBLIC_API_URL=http://localhost:5000/mipit-adapter-spei
NEXT_PUBLIC_RAIL_NAME=SPEI
PORT=3002
```

## Desarrollo

```bash
npm install
npm run dev
```

Puerto: **http://localhost:3002**

## Production

```bash
npm run build
npm start
```

## Docker

```bash
docker build -t mock-spei .
docker run -p 3002:3002 -e NEXT_PUBLIC_API_URL=http://mipit-adapter-spei:5002 mock-spei
```
